<div>

    <div class="col-sm-4">

        <input class="form-control" ng-model="searchText" autofocus />

        <div class="list-group">
            <a href="#/{{file.Year}}/{{file.Month}}" class="list-group-item" ng-repeat="file in list | filter:searchText">
                <h4 class="list-group-item-heading"> {{monthName(file.Month)}} {{file.Year}}</h4>
                <!--<span ng-show="{{file.IsLocked}}" class="pull-right"><glyph icon="lock"></glyph></span>-->
                
                    <!--{{file | json}}-->
                    
            </a>
        </div>

    </div>
    <div class="col-sm-8">
        <div class="alert alert-info" ng-show="!fileId">
            <glyph icon="arrow-left"></glyph> choose a file for details.
        </div>
        <div class="well" ng-show="fileId">
            <h2>{{file.Name}}</h2>
            
            <small>
                {{fileId}}
                {{file | json}}
            </small>
        </div>
    </div>
</div>